{%- import "../../tags.swig" as tag -%}

<nav>
    {{ tag.a( "/encontro-empresarial", t('Presentación'), 1 ) }}
    {{ tag.a( "/encontro-empresarial/programa", t('Programa'), 2 ) }}
    {{ tag.a( "/encontro-empresarial/comite", t('Comité Executivo'), 2 ) }}
    {{ tag.a( "/encontro-empresarial/organizacions", t('Organizacións invitadas'), 2 ) }}
    {{ tag.a( "/encontro-empresarial/conclusions", t('Conclusións'), 2 ) }}
    {{ tag.a( "/encontro-empresarial/historico", t('Histórico'), 2 ) }}
    {{ tag.a( "/encontro-empresarial/galeria", t('Galería de fotos'), 2 ) }}
</nav>

{% if html %}
    <article>{{ html|safe }}</article>
{% else %}
    <article>
        <p>Lorem ipsum bla bla bla</p>
    </article>
{% endif %}
