<h1>{{ t('Estrutura da Fundación Expomar') }}</h1>

<h2>{{ t('Fundadores') }}</h2>
<ul>
    <li>Concello de Burela</li>
    <li>Armadores de Burela, S.A. (ABSA)</li>
    <li>{{ t('Cofradía de Pescadores &quot;San Juan Bautista&quot; de Burela') }}</li>
    <li>Astilleros Armón Burela, S.A.</li>
    <li>Confederación de Empresarios de Lugo (CEL)</li>
    <li>{{ t('Cámara Oficial de Comercio, Industria y Navegación de la provincia de Lugo') }}</li>
</ul>


<h2>{{ t('Patronato') }}</h2>
<p>{{ t('Órgano de gobierno de la Fundación, constituído por ocho integrantes que provienen de las entidades anteriormente citadas:') }}</p>

<h3>{{ t('Presidente') }}</h3>
<dl>
    <dt>{{ t('D.') }} José González Barcia</dt>
    <dd>Alcalde-Presidente Excmo. Concello de Burela</dd>
</dl>

<h3>{{ t('Vicepresidente') }}</h3>
<dl>
    <dt>{{ t('D.') }} José Basilio Otero Rofríguez</dt>
    <dd>Patrón Mayor Cofradía de Pescadores &quot;San Juan Bautista&quot; de Burela</dd>
</dl>

<h3>{{ t('Secretaria') }}</h3>
<dl>
    <dt>{{ t('Dª.') }} Patricia López Eijo</dt>
    <dd>{{ t('Concelleira Delegado do Mar Excmo. Concello de Burela') }}</dd>
</dl>

<h3>{{ t('Los Patronos') }}</h3>
<dl>
    <dt>{{ t('D.') }} Manuel Fernández Valle</dt>
    <dd>{{ t('Tte. Alcalde Excmo. Concello de Burela') }}</dd>
    <dt>{{ t('D.') }} Laudelino Alperi Baragaño</dt>
    <dd>Astilleros Armón Burela, S.A.</dd>
    <dt>{{ t('D.') }} Abelardo Basanta Fra</dt>
    <dd>Armadores de Burela, S.A. (ABSA)</dd>
    <dt>{{ t('D.') }} Eduardo Jiménez Domínguez</dt>
    <dd>Confederación de Empresarios de Lugo (CEL)</dd>
    <dt>{{ t('D.') }} Eduardo Nuñez Torrón</dt>
    <dd>{{ t('Cámara Oficial de Comercio, Industria y Navegación de la provincia de Lugo') }}</dd>
</dl>


<h2>{{ t('Consejo Asesor') }}</h2>
<p>{{ t('Órgano de carácter consultivo y formado por los representantes de siete entidades de carácter supramunicipal:') }}</p>
<ul>
    <li>{{ t('Capitanía Marítima Provincial de Lugo') }}</li>
    <li>{{ t('Consellería do Medio Rural e do Mar da Xunta de Galicia') }}</li>
    <li>{{ t('Consellería de Economía e Industria da Xunta de Galicia') }}</li>
    <li>{{ t('Mando de Acción Marítima de Ferrol da Armada Española') }}</li>
    <li>{{ t('Garda Civil') }}</li>
    <li>{{ t('Portos de Galicia') }}</li>
    <li>{{ t('Instituto Social da Mariña') }}</li>
</ul>

<p>{{ t('Actualmente este comité está formado por:') }}</p>
{% include "../comite.swig.html" %}
