body {
    background: url('/img/fondo-a-verde-alpha.png') no-repeat -1.2em .5em,
                url('/img/fondo-b-verde-alpha.png') no-repeat right 9.5em;
}

.cell( @grid: 3; @cols: 1 ){
  width: 100% / @grid * @cols;
  margin: 0;
  .box-sizing(border-box);
}

header {
  #logo,
  nav#language {
    float: left;
    clear: left;
    .cell( @cols: 2; @grid: 7 );
  }
  nav#menu-top {
    float: right;
    .cell( @cols: 5; @grid: 7 );
    .border-radius(.5em 0 0 0);
    + nav { clear: both; }
    &, & + nav, & + nav + nav { position: relative; top: -1.5em; }
  }
  nav#menu-top,
  nav#menu-section {
    padding: .5em 1em 0 .5em;
    button { display: none }
    a,
    a:hover,
    a:focus,
    a.selected,
    &.expanded a {
      display: inline-block;
    }
    a + a {
      margin-left: .5em;
    }
  }
}

.xornadas-tecnicas.ponencias #content section >article {
  >article {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: .8% !important;
  }
}
