<h1>{{ t( meta.name ) }}</h1>
<p>{{ meta.desc }}</p>

{% for ponente in data %}
<article>
    <h2>{{ ponente.talk_title }}</h2>
    <div>
        {% if ponente.slideshow_url %}
        <a class="button" href="{{ ponente.slideshow_url }}" title="{{ t('Descargar')+' '+ponente.talk_title }}">{{ t('Descargar powerpoint') }}</a>
        {% else %}
        <a class="button disabled">{{ t('Descarga')+' '+t('non dispoñible') }}</a>
        {% endif %}
    </div>
    <figure>
        {% if ponente.photo_url %}
            <img src="{{ ponente.photo_url }}" alt="{{ ponente.name }}"/>
        {%- endif -%}
        <figcaption>
            <h3>
                <abbr>{% if ponente.gender == "female" %}{{ t('Dª.') }}{% else %}{{ t('D.') }}{% endif %}</abbr>
                {{ ponente.name }}
            </h3>
            <h4>{{ ponente.position }}</h4>
            <h5>{{ ponente.organization }}</h5>
        </figcaption>
        {{ ponente.resume|marked }}
    </figure>
    {% if ponente.talk_summary %}
    <figure>
        <figcaption>
            {{ t('Resumo do contido da ponencia') }}.
        </figcaption>
        {{ ponente.talk_summary|marked }}
    </figure>
    {% endif %}
</article>
{% endfor %}
