<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Expomar.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ url( 'static', 'css/lib/normalize.css' ) }}">
        <link rel="stylesheet" href="{{ url( 'static', 'css/theme2-main.css' ) }}">
        {% if content.styles %}
        <style>
          {% if content.hasStyles() %}
          {% include content.styles %}
          {% endif %}
        </style>
        {% endif %}
        <script src="{{ url( 'static', 'js/vendor/modernizr-2.6.2.min.js' ) }}"></script>
    </head>
    <body class="clearfix {{ breadcumbs.join(' ') }}" lang="{{ lang }}">

        <header>
            <a id="logo" href="/">
                <img src="{{ url( 'static', 'img/logo-expomar-hd2-blueok.png' ) }}" alt="Logo Fundación Expomar">
                <h1 class="ir">Fundación Expomar</h1>
            </a>
            <aside>
                <nav id="social">
                    <a href="#" class="facebook ir">Facebook?</a>
                    <a href="#" class="twitter ir">Twitter?</a>
                    <a href="#" class="ir">Etc?</a>
                </nav>
                <nav id="language">
                    <a href="{{ url( 'admin', location ) }}"{{ selected( lang == 'gl' ) }}>Galego</a>
                    <!-- <a href="{{ url( 'en.admin', location ) }}"{{ selected( lang == 'en' ) }}>English</a> -->
                    <!-- <a href="{{ url( 'es.admin', location ) }}"{{ selected( lang == 'es' ) }}>Castellano</a> -->
                </nav>
                <nav id="menu-top">
                    <a href="{{ url() }}">{{ t('Interface Pública') }}</a>
                    <a href="#">{{ t('Saír') }}</a>
                </nav>
            </aside>
        </header>
        <nav id="menu-main">
            <a href="/actualidade"{{ selected( breadcumbs[0] == 'actualidade' ) }}>{{ t('Actualidade') }}</a>
        </nav>

        <div id="content"{% if content.id %} class="{{ content.id }}"{% endif %}>
            <div id="messages">
                <!--[if lt IE 7]>
                    <p class="message browsehappy">{{ 'You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.'|t(lang) }}</p>
                <![endif]-->
              {%- for message in messages -%}
                <div class="message">{{ message|safe }}</div>
              {%- endfor -%}
            </div>
            {% set content = meta %}
            {% if html %}
                <section>{{ html|safe }}</section>
            {% else %}
                <section id="no-content">
                    {% include "404-working.swig.html" %}
                </section>
            {% endif %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url( 'static', 'js/vendor/jquery-1.10.2.min.js' ) }}"><\/script>')</script>
        <script src="{{ url( 'static', 'js/plugins.js' ) }}"></script>
        <script src="{{ url( 'static', 'js/main.js' ) }}"></script>

        <!-- Google Analytics tracking code -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-37723918-3');ga('send','pageview');
        </script>
    </body>
</html>
