<form action="/login" method="post">
  <fieldset>
    <p>
      <label for="login_username">{{ t('Usuario') }}:</label>
      <input type="text" id="login_username" name="username" placeholder="Usuario"/>
    </p>
    <p>
      <label for="login_password">{{ t('Contrasinal') }}:</label>
      <input type="password" id="login_password" name="password" placeholder="Contrasinal"/>
    </p>
    <div>
      <button type="submit" value="login">{{ t('Log In') }}</button>
    </div>
  </fieldset>
  <!-- button type="submit" value="resetpwd">{{ t('Olvidei o contrasinal') }}</button -->
  <input type="hidden" name="next" value="{{next_url}}"/>
</form>
