<dl>
    <dt>{{ t('D.') }} José González Barcia</dt>
    <dd>Presidente da Fundación Expomar</dd>
    <dd>Alcalde-Presidente Excmo. Concello de Burela</dd>

    <dt>{{ t('Dª.') }} Patricia López Eijo</dt>
    <dd>{{ t('Concelleira Delegado do Mar Excmo. Concello de Burela') }}</dd>

    <dt>{{ t('D.') }} Manuel Fernández Valle</dt>
    <dd>{{ t('Tte. Alcalde Excmo. Concello de Burela') }}</dd>

    <dt>{{ t('D.') }} Pablo Fenández Asensio</dt>
    <dd>{{ t('Xefatura Territorial da Consellería do Medio Rural e Mar da Xunta de Galicia') }}</dd>

    <dt>{{ t('D.') }} José Angel Iglesias Durán</dt>
    <dd>{{ t('Capitanía Marítima Provincial de Lugo') }}</dd>

    <dt>{{ t('D.') }} José Basilio Otero Rofríguez</dt>
    <dd>{{ t('Patrón Mayor Cofradía de Pescadores &quot;San Juan Bautista&quot; de Burela') }}</dd>

    <dt>{{ t('D.') }} Abelardo Basanta Fra</dt>
    <dd>{{ t('Armadores de Burela, S.A. (ABSA)') }}</dd>

    <dt>{{ t('D.') }} Alfonso García Ben</dt>
    <dd>{{ t('Federación Provincial de Cofradías de Lugo') }}</dd>

    <dt>{{ t('D.') }} Miguel Neira Pérez</dt>
    <dd>Armadores de Burela, S.A. (ABSA)</dd>

    <dt>{{ t('Dª.') }} Mercedes Rodríguez Moreda</dt>
    <dd>O.O.P. 07 - Lugo</dd>

    <dt>{{ t('D.') }} José Manuel Fernández Beltrán</dt>
    <dd>O.O.P. 07 - Lugo</dd>

    <dt>{{ t('D.') }} Raúl Canoura</dt>
    <dd>O.O.P. 07 - Lugo</dd>

    <dt>{{ t('Dª.') }} Catalina Sánchez Luengo</dt>
    <dd>{{ t('Xerente da Fundación Expomar') }}</dd>
</dl>
