<nav id="breadcumbs">
    <a href="/" title="{{ t('Ir á páxina principal') }}">{{ t('Portada') }}</a>
    {% set itUri = "" %}
    {%- for item in breadcumbs -%}
        {%- set itUri = itUri +"/"+ item.id -%}
        <span class="sep">&nbsp;&gt;&nbsp;</span>
        <a href="{{ url('', itUri) }}" title="{{ t(item.desc) }}"{{ selected(loop.last) }}>{{ t(item.name) }}</a>
    {%- endfor -%}
</nav>
<section id="{{ content.id }}">
    <h1>{{ content.desc }}</h1>
    {% if content.items.length %}
        <nav>
        <a href="/{{ content.id }}">{{ "Presentación"|t(lang) }}</a>
        {% for item in content.items %}
            <a href="/{{ content.id }}/{{ item.id }}">{{ item.name }}</a>
        {% endfor %}
        </nav>
    {% endif %}
    {% block content %}
    {{ output|default('<p>no-content message</p>')|safe }}
    {% endblock %}
</section>
