<nav class="destacados">
  <a href="/feira-expomar">
    <figure>
      <figcaption>Expomar 2015</figcaption>
      <img class="pantalla" src="{{ url('static', '/files/2015/cartaz.jpg') }}"/>
    </figure>
  </a>
  <a href="/xornadas-tecnicas">
    <figure>
      <figcaption>Xornadas Técnicas 2015</figcaption>
      <img src="{{ url('static', '/files/foto-xornadas.jpg') }}"/>
    </figure>
  </a>
  <a href="encontro-empresarial">
    <figure>
      <figcaption>Encontro Empresarial 2015</figcaption>
      <img src="{{ url('static', '/files/foto-encontro.jpg') }}"/>
    </figure>
  </a>
</nav>
<figure id="intro">
    <h1 class="mar">Mar</h1>
    <h2 class="promocion">Promoción</h2>
    <h2 class="desenvolvemento">Desenvolvemento</h2>
    <h1 class="futuro">Futuro</h1>
</figure>
