<figure id="intro">
    <h1 class="mar">Mar</h1>
    <h2 class="promocion">Promoción</h2>
    <h2 class="desenvolvemento">Desenvolvemento</h2>
    <h1 class="futuro">Futuro</h1>
</figure>
<nav id="destacados">
  <a href="/feira-expomar">
    <h1>Expomar 2015</h1>
    <img class="cartaz" src="{{ url('static', '/files/2015/cartaz.jpg') }}"/>
    <img class="pantalla" src="{{ url('static', '/files/2015/pantalla.jpg') }}"/>
  </a>
  <a href="/xornadas-tecnicas">
    <h1>Xornadas Técnicas 2015</h1>
    <img src="{{ url('static', '/files/foto-xornadas.jpg') }}"/>
  </a>
  <a href="encontro-empresarial">
    <h1>Encontro Empresarial 2015</h1>
    <img src="{{ url('static', '/files/foto-encontro.jpg') }}"/>
  </a>
</nav>
